{
  "name": "{{engineName}}",
  "version": "{{engineVersion}}",
  "description": "{{engineDescription}}",
  "author": {
    "name": "{{authorName}}",
    "email": "{{authorEmail}}"
  },
  "keywords": [{{keywords}}],
  "license": "MIT"
}
